@import '../../style/index.scss';

  .infor__subtitle{
    margin: 0;
    padding: 0;
  }
  
  .infor{
    padding-top: 55px;
    padding-bottom: 55px;
    margin-left: 150px;
    max-width: 40%;
  }
  .infor__author{
    color: #592EA9;
  }
  
  .post{
    background-color: #F4F0F8;
    display: flex;
    flex-direction: row;
  }
  .infor__btn{
    width: 130px;
    height: 50px;
    border: 1px solid #6D6E76; ;
    background-color:rgb(151, 146, 146);
  }
  .infor__btn:hover{
    background-color: #FFD050;
    border: none;
    transition-duration: 1s;
  }
  
  
  
  
  .div{
    display: flex;
    justify-self: start;
    border-bottom: 1px solid black;
    margin-top: 40px;
  }
  .allposts{
    padding-left: 50px;
  }
  
  .cat{
    display: flex;
    justify-self: start;
    margin-top: 40px;
  }
  .allpost{
    padding-left: 50px;
  }
  .information__subtitle{
    color: #592EA9;
  }
  .information__text{
    color: #6D6E76;
  }
  .categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .categories__card{
    border: 1px solid #6D6E76;
    max-width: 15%;
  }
  .article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .cardpos{
    display: flex;
    flex-direction: row;
  }
  .article__image{
  width: 40%;
  }
  .information{
    max-width: 50%;
  }
  .categories__card:hover{
    background-color: #FFD050;
    border: none;
    transition-duration: 1s;
  }
  .image{
    width: 40%;
   
    
  }